<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>email</param-name>
  	<param-value>admin@xyzstore.com</param-value>
  </context-param>
  
  
  <servlet>
	<servlet-name>Demo</servlet-name>
	<servlet-class>com.ssi.Demo</servlet-class>
	<init-param>
		<param-name>city</param-name>
		<param-value>Indore</param-value>
	</init-param>
	<init-param>
		<param-name>state</param-name>
		<param-value>MP</param-value>
	</init-param>
	  		
  </servlet>
  <servlet-mapping>
  	<servlet-name>Demo</servlet-name>
  	<url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  
  
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>